*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html
{
    background-color: white;
}

body
{
    overflow-x: hidden;
}

.navbar
{
    background-color: black;
    width: 500vw;
    height: 50px;
    position: sticky;
    top: 0;
}

.navleft, .navright
{
    display: inline-block;
    color: white;
    padding: 10px;
}

.navright
{
    margin-left: 1060px;
}

.nav-items li
{
    display: inline-block;
    margin: 5px;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    color: lightcoral;
}

.first-container
{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.content-left
{
    width: 600px;
    text-align: justify;
}

p, .learnmore
{
    margin-top: 10px;
}

.learnmore
{
    background-color: black;
    color: white;
    padding: 10px;
    width: 150px
}

.learnmore:hover
{
    color: lightcoral;
}

.second-container
{
    padding: 15px;
}

.imagecollect
{
    margin: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}

.image
{
    margin: 15px;
    height: 350px;
    width: 400px;
}